.input {
    padding: 5px 12px;
    border-color: goldenrod;
    border-radius: 40px;
    width: 300px;
    font-size: 16px;
    text-align: center;
}

.search__title {
    font-size: 18px;
    color: black;
    margin-top: 8px;
    margin-bottom: 8px;
}

.search__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-bottom: 20px;
}